<h2>Detalles de {{empleado.nombre}}</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Campos</th>
            <th></th>
        </tr>
    </thead>
    <br>
    <tbody>
        <tr>
            <td>ID :</td>
            <td>{{empleado.id}}</td>
        </tr>
        <tr>
            <td>Nombre :</td>
            <td>{{empleado.nombre}}</td>
        </tr>
        <tr>
            <td>Apellido :</td>
            <td>{{empleado.apellido}}</td>
        </tr>
        <tr>
            <td>Email :</td>
            <td>{{empleado.email}}</td>
        </tr>
    </tbody>
</table>